$c-base: #3a332c;
$c-primary: #ffb53e;
$c-primary-bg: #fff23e;
$c-primary-bg-darker: #ffd53e;
$c-primary-bg-lighter: #fff53e;
$c-gray: #ff9f3e;
$c-gray-lighter: #ffcc3e;
$c-gray-darker: #ff833e;
$c-gray-border: #ffdc3e;
$c-gray-border-lighter: rgba(92, 147, 187, 0.17);
$c-blue-bg: #fff8eb;
