$c-primary: #ffb53e;
$c-primary-bg: #fff23e;
$c-primary-bg-darker: #ffd53e;
$c-primary-bg-lighter: #fff53e;
$c-gray: #ff9f3e;
$c-gray-lighter: #ffcc3e;
$c-gray-darker: #ff833e;
$c-gray-border: #ffdc3e;
$c-gray-border-lighter: rgba(92, 147, 187, 0.17);
$c-contrast: #ff2d3e;

$xs: 374px;
$sm: 576px;
$md: 768px;

$breakpoints: (
  "xs": "screen and (max-width: #{$xs})",
  "sm": "screen and (max-width: #{$sm})",
  "md": "screen and (max-width: #{$md})",
);

@mixin mq($size) {
  @media #{map-get($breakpoints, $size)} {
    @content;
  }
}

// use short classname so that nested css does not become too long.
.znc {
  & > *:first-child {
    margin-top: 0;
  }
  line-height: 1.9;

  @import "./_content.scss";
  @import "./_embed.scss";
  @import "./_prism.scss";
  @import "./_message.scss";
  @import "./_footnotes.scss";
}
